{% extends 'dev.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    
    {% include 'partials/friendly_message.html.twig' with { 
            controller_path: 'I:/dev/capstone-secure-delivery/app/src/Controller/HomeController.php',
            template_path: 'I:/dev/capstone-secure-delivery/app/templates/home/index.html.twig'
        } only %}
</div>
{% endblock %}
