body {
    background-color: skyblue;
}

.example-wrapper { 
    margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5; padding: 2px 6px;
}

.friendly-message {
    border: 1px dashed green;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: #e0ffe0;
    font-size: .8rem;
}