{% extends 'base.html.twig' %}

{% block title %}Hello XssCheckController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>


    <h2>Unsafe XSS Example</h2>
    <p>The message you provided is:</p>
    <div style="padding:10px; border:1px solid black; background-color:#f0f0f0;margin-bottom:20px;">
        {{ msg }}
    </div>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>I:/dev/capstone-secure-delivery/app/src/Controller/XssCheckController.php</code></li>
        <li>Your template at <code>I:/dev/capstone-secure-delivery/app/templates/xss_check/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
