{% extends 'dev.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block content %}
    {% set i = 0 %}
    {% for note in notes %}
        {% set i = i + 1 %}
        <div>
            <a href="{{ path('note_show', {'id': note.id}) }}">View Note {{ i }}</a>
        </div>
    {% else %}
        <p>No notes found.</p>
    {% endfor %}

    
    {% include 'partials/friendly_message.html.twig' with { 
            controller_path: 'I:/dev/capstone-secure-delivery/app/src/Controller/NoteController.php',
            template_path: 'I:/dev/capstone-secure-delivery/app/templates/note/index.html.twig'
        } only %}
</div>
{% endblock %}
