{% extends 'dev.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block content %}
    {% if note %}
        <h2>Note Details:</h2>
        <div>
            <p>Owner: {{ note.owner.username }} ({{ note.owner.id }})</p>
            <p>Note ID: {{ note.id }}</p>
            <p>Note Content: {{ note.content }}</p>
        </div>
    {% else %}
        <h2>No Note Found.</h2>
    {% endif %}

    {% include 'partials/friendly_message.html.twig' with { 
            controller_path: 'I:/dev/capstone-secure-delivery/app/src/Controller/NoteController.php',
            template_path: 'I:/dev/capstone-secure-delivery/app/templates/note/note_show.html.twig'
        } only %}
{% endblock %}
