<div class="friendly-message">
    <h3>Friendly Message</h3>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>{{ controller_path }}</code></li>
        <li>Your template at <code>{{ template_path }}</code></li>
    </ul>
</div>